
---
page_title: "arubacloud_backup Resource - ArubaCloud"
subcategory: "Storage"
description: |-
  Manages an ArubaCloud Storage Backup.
---

# arubacloud_backup (Resource)

Manages an ArubaCloud Storage Backup.

{{ tffile "examples/resources/arubacloud_backup/resource-basic.tf" }}

## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_backup.example <backup_id>
```
