
---
page_title: "arubacloud_blockstorage Resource - ArubaCloud"
subcategory: "Storage"
description: |-
  Manages an ArubaCloud Block Storage.
---

# arubacloud_blockstorage

Manages an ArubaCloud Block Storage.

{{ tffile "examples/resources/arubacloud_blockstorage/resource-basic.tf" }}

## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_blockstorage.example <blockstorage_id>
```
