---
page_title: "arubacloud_cloudserver"
subcategory: "Compute"
description: |-
  Manages an ArubaCloud CloudServer.
---

# arubacloud_cloudserver

Manages an ArubaCloud CloudServer.

{{ tffile "examples/resources/arubacloud_cloudserver/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud CloudServers can be imported using the `cloudserver_id`.

```shell
terraform import arubacloud_cloudserver.example <cloudserver_id>
```
