
---
page_title: "arubacloud_containerregistry Resource - ArubaCloud"
subcategory: "Container"
description: |-
  Manages an ArubaCloud Container Registry.
---

# arubacloud_containerregistry (Resource)

Manages an ArubaCloud Container Registry.

{{ tffile "examples/resources/arubacloud_containerregistry/resource-basic.tf" }}

## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_containerregistry.example <containerregistry_id>
```
