page_title: "arubacloud_database_backup Resource - ArubaCloud"
# arubacloud_database_backup (Resource)
{{ tffile "examples/resources/arubacloud_database_backup/resource-basic.tf" }}
  Manages an ArubaCloud Database Backup.
---

# arubacloud_databasebackup (Resource)

Manages an ArubaCloud Database Backup.

## Example Usage

{{ tffile "examples/resources/arubacloud_databasebackup/resource-basic.tf" }}


## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_databasebackup.example <databasebackup_id>
```
