---
page_title: "arubacloud_databasebackup Resource - ArubaCloud"
subcategory: "Database"
description: |-
  Manages an ArubaCloud Database Backup.
---

---
page_title: "arubacloud_databasebackup Resource - ArubaCloud"
subcategory: "Database"
description: |-
  Manages an ArubaCloud Database Backup resource.
---

{{ .SchemaMarkdown }}

## Import

Aruba Cloud Database Backup can be imported using the `databasebackup_id`.

```shell
terraform import arubacloud_databasebackup.example <databasebackup_id>
```
