---
page_title: "arubacloud_dbaas Resource - ArubaCloud"
subcategory: "Database"
description: |-
  Manages an ArubaCloud DBaaS.
---

---
page_title: "arubacloud_dbaas Resource - ArubaCloud"
subcategory: "Database"
description: |-
  Manages an ArubaCloud DBaaS resource.
---

{{ .SchemaMarkdown }}

## Import

Aruba Cloud DBaaS can be imported using the `dbaas_id`.

```shell
terraform import arubacloud_dbaas.example <dbaas_id>
```
