---
page_title: "arubacloud_dbaasuser"
subcategory: "Database"
description: |-
  Manages an ArubaCloud DBaaS User.
---

---
page_title: "arubacloud_dbaasuser"
subcategory: "Database"
description: |-
  Manages an ArubaCloud DBaaS User resource.
---

{{ .SchemaMarkdown }}

## Import

Aruba Cloud DBaaS User can be imported using the `dbaasuser_id`.

```shell
terraform import arubacloud_dbaasuser.example <dbaasuser_id>
```
