page_title: "arubacloud_elastic_ip Resource - ArubaCloud"
# arubacloud_elastic_ip (Resource)
{{ tffile "examples/resources/arubacloud_elastic_ip/resource-basic.tf" }}
  Manages an ArubaCloud Elastic IP.
---

# arubacloud_elasticip (Resource)

Manages an ArubaCloud Elastic IP.

## Example Usage

{{ tffile "examples/resources/arubacloud_elasticip/resource-basic.tf" }}


## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_elasticip.example <elasticip_id>
```
