---
page_title: "arubacloud_elasticip Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud ElasticIP.
---

# arubacloud_elasticip

Manages an ArubaCloud ElasticIP.

{{ tffile "examples/resources/arubacloud_elasticip/resource-basic.tf" }}


## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_elasticip.example <elasticip_id>
```
