---
page_title: "arubacloud_kms Resource - ArubaCloud"
subcategory: "Security"
description: |-
  Manages an ArubaCloud Key Management System (KMS).
---

# arubacloud_kms

Manages an ArubaCloud KMS.

## Example Usage

{{ tffile "examples/resources/arubacloud_kms/resource-basic.tf" }}



## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_project.example <project_id>
```