---
page_title: "arubacloud_schedulejob Resource - ArubaCloud"
subcategory: "Job"
description: |-
  Manages an ArubaCloud Schedule Job.
---

# arubacloud_schedulejob

Manages an ArubaCloud Schedule Job.

## Example Usage

{{ tffile "examples/resources/arubacloud_schedulejob/resource-basic.tf" }}

## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_schedulejob.example <schedulejob_id>
```
