---
page_title: "arubacloud_securitygroup"
subcategory: "Network"
description: |-
  Manages an ArubaCloud SecurityGroup.
---

---
page_title: "arubacloud_securitygroup"
subcategory: "Security"
description: |-
  Manages an ArubaCloud Security Group resource.
---

{{ .SchemaMarkdown }}

## Import

Aruba Cloud Security Group can be imported using the `securitygroup_id`.

```shell
terraform import arubacloud_security_group.example <securitygroup_id>
```
