---
page_title: "arubacloud_securityrule"
subcategory: "Security"
description: |-
  Manages an ArubaCloud Security Rule.
---

# arubacloud_securityrule

Manages an ArubaCloud Security Rule.

{{ tffile "examples/resources/arubacloud_securityrule/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud Security Rule can be imported using the `securityrule_id`.

```shell
terraform import arubacloud_securityrule.example <securityrule_id>
```
