---
page_title: "arubacloud_securitygroup"
subcategory: "Security"
description: |-
  Manages an ArubaCloud Security Group.
---

# arubacloud_securitygroup

Manages an ArubaCloud Security Group.

{{ tffile "examples/resources/arubacloud_securitygroup/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud Security Group can be imported using the `securitygroup_id`.

```shell
terraform import arubacloud_securitygroup.example <securitygroup_id>
```
