---
page_title: "arubacloud_snapshot"
subcategory: "Storage"
description: |-
  Manages an ArubaCloud Snapshot.
---

# arubacloud_snapshot

Manages an ArubaCloud Snapshot.

{{ tffile "examples/data-sources/arubacloud_snapshot/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
