---
page_title: "arubacloud_snapshot"
subcategory: "Storage"
description: |-
  Manages an ArubaCloud Snapshot.
---

# arubacloud_snapshot

Manages an ArubaCloud Snapshot.

{{ tffile "examples/resources/arubacloud_snapshot/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud Snapshot can be imported using the `snapshot_id`.

```shell
terraform import arubacloud_snapshot.example <snapshot_id>
```
