---
page_title: "arubacloud_vpc Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Network.
---

# arubacloud_vpc

Manages an ArubaCloud VPC Network.

## Example Usage

{{ tffile "examples/resources/arubacloud_vpc/resource-basic.tf" }}

## Argument Reference

<!-- tfplugindocs will inject schema-based arguments here -->

## Attribute Reference

<!-- tfplugindocs will inject schema-based attributes here -->

## Import

```shell
terraform import arubacloud_vpc.example <vpc_id>
```
