---
page_title: "arubacloud_vpc"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Network.
---

# arubacloud_vpc

Manages an ArubaCloud VPC Network.

{{ tffile "examples/resources/arubacloud_vpc/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPC Network can be imported using the `vpc_id`.

```shell
terraform import arubacloud_vpc.example <vpc_id>
```
