---
page_title: "arubacloud_vpc Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Network.
---

---
page_title: "arubacloud_vpc Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC resource.
---

{{ tffile "examples/resources/arubacloud_vpc/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPC Network can be imported using the `vpc_id`.

## Import

```shell
terraform import arubacloud_vpc.example <vpc_id>
```
