---
page_title: "arubacloud_vpcpeering"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Peering.
---

# arubacloud_vpcpeering

Manages an ArubaCloud VPC Peering.

{{ tffile "examples/resources/arubacloud_vpcpeering/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPC Peering can be imported using the `vpcpeering_id`.

```shell
terraform import arubacloud_vpcpeering.example <vpcpeering_id>
```
