---
page_title: "arubacloud_vpcpeeringroute"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Peering Route.
---

# arubacloud_vpcpeeringroute

Manages an ArubaCloud VPC Peering Route.

{{ tffile "examples/resources/arubacloud_vpc_peering_route/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPC Peering Route can be imported using the `vpcpeeringroute_id`.

```shell
terraform import arubacloud_vpcpeeringroute.example <vpcpeeringroute_id>
```
