---
page_title: "arubacloud_vpcpeering Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Peering.
---

---
page_title: "arubacloud_vpcpeering Resource - ArubaCloud"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPC Peering resource.
---

{{ tffile "examples/resources/arubacloud_vpcpeering/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPC Network Peering can be imported using the `vpcpeering_id`.

```shell
terraform import arubacloud_vpcpeering.example <peering_id>
```
