---
page_title: "arubacloud_vpnroute"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPN Route.
---

# arubacloud_vpnroute

Manages an ArubaCloud VPN Route.

{{ tffile "examples/resources/arubacloud_vpnroute/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPN Route can be imported using the `vpnroute_id`.

```shell
terraform import arubacloud_vpnroute.example <vpnroute_id>
```
