---
page_title: "arubacloud_vpnroute"
subcategory: "Network"
description: |-
  Retrieves an ArubaCloud VPN Route.
---

# arubacloud_vpnroute

Retrieves an ArubaCloud VPN Route.

{{ tffile "examples/data-sources/arubacloud_vpn_route/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
