---
page_title: "arubacloud_vpntunnel"
subcategory: "Network"
description: |-
  Manages an ArubaCloud VPN Tunnel.
---

# arubacloud_vpntunnel

Manages an ArubaCloud VPN Tunnel.

{{ tffile "examples/resources/arubacloud_vpntunnel/resource-basic.tf" }}

{{ .SchemaMarkdown }}

## Import

Aruba Cloud VPN Tunnel can be imported using the `vpntunnel_id`.

```shell
terraform import arubacloud_vpntunnel.example <vpntunnel_id>
```
