---
page_title: "arubacloud_vpntunnel"
subcategory: "Network"
description: |-
  Retrieves an ArubaCloud VPN Tunnel.
---

# arubacloud_vpntunnel

Retrieves an ArubaCloud VPN Tunnel.

{{ tffile "examples/data-sources/arubacloud_vpn_tunnel/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
