
---
page_title: "arubacloud_backup Data Source - ArubaCloud"
subcategory: "Storage"
description: |-
  Retrieves an ArubaCloud Storage Backup.
---

# arubacloud_backup (Data Source)

Retrieves an ArubaCloud Storage Backup.

{{ tffile "examples/data-sources/arubacloud_backup/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
