---
page_title: "arubacloud_blockstorage"
subcategory: "Storage"
description: |-
  Retrieves an existing ArubaCloud Block Storage.
---

# arubacloud_blockstorage

Retrieves an existing ArubaCloud Block Storage.

{{ tffile "examples/data-sources/arubacloud_blockstorage/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
