---
page_title: "arubacloud_cloudserver"
subcategory: "Compute"
description: |-
  Retrieves an ArubaCloud CloudServer.
---

# arubacloud_cloudserver

Retrieves an ArubaCloud CloudServer.

{{ tffile "examples/data-sources/arubacloud_cloudserver/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
