---
page_title: "arubacloud_containerregistry"
subcategory: "Container"
description: |-
  Retrieves an ArubaCloud Container Registry.
---

# arubacloud_containerregistry

Retrieves an ArubaCloud Container Registry.

{{ tffile "examples/data-sources/arubacloud_containerregistry/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
