---
page_title: "arubacloud_databasebackup"
subcategory: "Database"
description: |-
  Retrieves an ArubaCloud Database Backup.
---

# arubacloud_databasebackup

Reads an existing ArubaCloud database backup.

{{ tffile "examples/data-sources/arubacloud_databasebackup/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
