
---
page_title: "arubacloud_databasegrant Data Source - ArubaCloud"
subcategory: "Database"
description: |-
  Retrieves an ArubaCloud Database Grant.
---

# arubacloud_databasegrant (Data Source)

Retrieves an ArubaCloud Database Grant.

{{ tffile "examples/data-sources/arubacloud_databasegrant/data-source-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
