---
page_title: "arubacloud_database"
subcategory: "Database"
description: |-
  Retrieves an ArubaCloud Database.
---

# arubacloud_database

Reads an existing ArubaCloud database.

{{ tffile "examples/data-sources/arubacloud_database/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
