page_title: "arubacloud_database_backup Data Source - ArubaCloud"
# arubacloud_database_backup (Data Source)
{{ tffile "examples/data-sources/arubacloud_database_backup/data-source-basic.tf" }}
  Reads an existing ArubaCloud database backup.
---

# arubacloud_databasebackup (Data Source)

Reads an existing ArubaCloud database backup.

{{ tffile "examples/data-sources/arubacloud_databasebackup/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
