page_title: "arubacloud_database Data Source - ArubaCloud"
# arubacloud_database (Data Source)
{{ tffile "examples/data-sources/arubacloud_database/data-source-basic.tf" }}
  Reads an existing ArubaCloud database.
---

# arubacloud_database (Data Source)

Reads an existing ArubaCloud database.

{{ tffile "examples/data-sources/arubacloud_database/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
