page_title: "arubacloud_dbaas Data Source - ArubaCloud"
# arubacloud_dbaas (Data Source)
{{ tffile "examples/data-sources/arubacloud_dbaas/data-source-basic.tf" }}
  Reads an existing ArubaCloud DBaaS instance.
---

# arubacloud_dbaas (Data Source)

Reads an existing ArubaCloud DBaaS instance.

{{ tffile "examples/data-sources/arubacloud_dbaas/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
