---
page_title: "arubacloud_dbaas"
subcategory: "Database"
description: |-
  Retrieves an ArubaCloud DBaaS.
---

# arubacloud_dbaas

Reads an existing ArubaCloud DBaaS instance.

{{ tffile "examples/data-sources/arubacloud_dbaas/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
