---
page_title: "arubacloud_elasticip"
subcategory: "Network"
description: |-
  Retrieves an ArubaCloud ElasticIP.
---

# arubacloud_elasticip

Reads an existing ArubaCloud Elastic IP.

{{ tffile "examples/data-sources/arubacloud_elasticip/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
