page_title: "arubacloud_elastic_ip Data Source - ArubaCloud"
# arubacloud_elastic_ip (Data Source)
{{ tffile "examples/data-sources/arubacloud_elastic_ip/data-source-basic.tf" }}
  Reads an existing ArubaCloud Elastic IP.
---

# arubacloud_elasticip (Data Source)

Reads an existing ArubaCloud Elastic IP.

{{ tffile "examples/data-sources/arubacloud_elasticip/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
