page_title: "arubacloud_kaas Data Source - ArubaCloud"
# arubacloud_kaas (Data Source)
{{ tffile "examples/data-sources/arubacloud_kaas/data-source-basic.tf" }}
  Reads an existing ArubaCloud KaaS cluster.
---

# arubacloud_kaas (Data Source)

Reads an existing ArubaCloud KaaS cluster.

{{ tffile "examples/data-sources/arubacloud_kaas/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
