---
page_title: "arubacloud_kaas"
subcategory: "Container"
description: |-
  Retrieves an ArubaCloud KaaS.
---

# arubacloud_kaas

Reads an existing ArubaCloud KaaS cluster.

{{ tffile "examples/data-sources/arubacloud_kaas/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
