---
page_title: "arubacloud_keypair"
subcategory: "Security"
description: |-
  Retrieves an ArubaCloud KeyPair.
---

# arubacloud_keypair

Retrieves an ArubaCloud KeyPair.

{{ tffile "examples/data-sources/arubacloud_keypair/data-source-basic.tf" }}

{{ .SchemaMarkdown }}
