---
page_title: "arubacloud_keypair"
subcategory: "Security"
description: |-
  Manages an ArubaCloud KeyPair resource.
---

# arubacloud_keypair

Manages an ArubaCloud KeyPair resource.

{{ tffile "examples/resources/arubacloud_keypair/resource-basic.tf" }}

## Schema

{{ .SchemaMarkdown }}
