page_title: "arubacloud_kmip Data Source - ArubaCloud"
# arubacloud_kmip (Data Source)
{{ tffile "examples/data-sources/arubacloud_kmip/data-source-basic.tf" }}
  Reads an existing ArubaCloud KMIP instance.
---

# arubacloud_kmip (Data Source)

Reads an existing ArubaCloud KMIP instance.

{{ tffile "examples/data-sources/arubacloud_kmip/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
