---
page_title: "arubacloud_project"
subcategory: "Project"
description: |-
  Reads an existing ArubaCloud project.
---

# arubacloud_project

Reads an existing ArubaCloud project.

{{ tffile "examples/data-sources/arubacloud_project/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
