---
page_title: "arubacloud_restore Data Source - ArubaCloud"
subcategory: "Storage"
description: |-
  Reads an existing ArubaCloud restore.
---

# arubacloud_restore (Data Source)

Reads an existing ArubaCloud restore.

{{ tffile "examples/data-sources/arubacloud_restore/data-source-basic.tf" }}


## Schema

{{ .SchemaMarkdown }}
