---
page_title: "arubacloud_schedulejob Data Source - ArubaCloud"
subcategory: "Job"
description: |-
  Reads an existing ArubaCloud Schedule Job.
---

# arubacloud_schedulejob (Data Source)

Reads an existing ArubaCloud Schedule Job.

{{ tffile "examples/data-sources/arubacloud_schedulejob/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
