---
page_title: "arubacloud_securityrule"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud Security Rule.
---

# arubacloud_securityrule

Reads an existing ArubaCloud Security Rule.

{{ tffile "examples/data-sources/arubacloud_securityrule/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->

