---
page_title: "arubacloud_securityrule"
subcategory: "Security"
description: |-
  Reads an existing ArubaCloud Security Rule.
---

# arubacloud_securityrule

Reads an existing ArubaCloud Security Rule.

{{ tffile "examples/data-sources/arubacloud_securityrule/data-source-basic.tf" }}

{{ .SchemaMarkdown }}
