---
page_title: "arubacloud_securitygroup Data Source - ArubaCloud"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud Security Group.
---

# arubacloud_securitygroup (Data Source)

Reads an existing ArubaCloud Security Group.

{{ tffile "examples/data-sources/arubacloud_securitygroup/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
