---
page_title: "arubacloud_snapshot Data Source - ArubaCloud"
subcategory: "Storage"
description: |-
  Reads an existing ArubaCloud snapshot.
---

# arubacloud_snapshot (Data Source)

Reads an existing ArubaCloud snapshot.

{{ tffile "examples/data-sources/arubacloud_snapshot/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
