---
page_title: "arubacloud_subnet Data Source - ArubaCloud"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud subnet.
---

# arubacloud_subnet (Data Source)

Reads an existing ArubaCloud subnet.

{{ tffile "examples/data-sources/arubacloud_subnet/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
