---
page_title: "arubacloud_vpc"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPC.
---

# arubacloud_vpc

Reads an existing ArubaCloud VPC.

{{ tffile "examples/data-sources/arubacloud_vpc/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
