---
page_title: "arubacloud_vpcpeering"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPC Peering.
---

# arubacloud_vpcpeering

Reads an existing ArubaCloud VPC Peering.

{{ tffile "examples/data-sources/arubacloud_vpc_peering/data-source-basic.tf" }}

{{ .SchemaMarkdown }}
