---
page_title: "arubacloud_vpc_peering_route"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPC peering route.
---

# arubacloud_vpc_peering_route

Reads an existing ArubaCloud VPC peering route.

{{ tffile "examples/data-sources/arubacloud_vpc_peering_route/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
