---
page_title: "arubacloud_vpcpeeringroute Data Source - ArubaCloud"
subcategory: "Network"
description: |-
  Retrieves information about an existing ArubaCloud VPC Peering Route.
---

# arubacloud_vpcpeeringroute (Data Source)

Retrieves read-only information about an existing `arubacloud_vpcpeeringroute`. Use this data source to reference VPC peering route metadata in other configurations without managing the lifecycle via Terraform.

## Example Usage

{{ tffile "examples/data-sources/arubacloud_vpc_peering_route/data-source-basic.tf" }}

{{ .SchemaMarkdown }}
