---
page_title: "arubacloud_vpn_route"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPN route.
---

# arubacloud_vpn_route

Reads an existing ArubaCloud VPN route.

{{ tffile "examples/data-sources/arubacloud_vpn_route/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
