---
page_title: "arubacloud_vpntunnel"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPN Tunnel.
---

# arubacloud_vpntunnel

Reads an existing ArubaCloud VPN Tunnel.

{{ tffile "examples/data-sources/arubacloud_vpn_tunnel/data-source-basic.tf" }}

{{ .SchemaMarkdown }}
