---
page_title: "arubacloud_vpn_tunnel Data Source - ArubaCloud"
subcategory: "Network"
description: |-
  Reads an existing ArubaCloud VPN tunnel.
---

# arubacloud_vpn_tunnel (Data Source)

Reads an existing ArubaCloud VPN tunnel.

{{ tffile "examples/data-sources/arubacloud_vpn_tunnel/data-source-basic.tf" }}

## Argument Reference

<!-- tfplugindocs injects arguments -->

## Attribute Reference

<!-- tfplugindocs injects attributes -->
